.main {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  background-color: #eef1ff;
  color: #373941;
}

.container,
.createGame {
  flex-direction: column;
  /* border-bottom: 3px solid rgba(0, 0, 0, 0.1); */
  background-color: #aac4ff;
  color: #373941;
  margin: 0px;
  align-content: center;
  display: flex;
  text-align: center;
  /* height: max-content; */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.h1 {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width: 100%;
  align-items: center;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.header {
  flex-direction: column;
  min-height: 5vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #b1b2ff;
  color: #373941;
  margin: 0;
  align-content: center;
  display: flex;
  text-align: center;
}

.header > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.header > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
