.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  align-items: center;
  justify-content: top;
  background-color: #eef1ff;
  color: #373941;
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.tableCells {
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.tictactoe {
  display: flex;
  /* max-height: 50vh; */
  width: fit-content;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  background-color: #eef1ff;
  border: 2px solid AAC4FF;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

.col {
  display: flex;
}

.cell {
  width: 89px;
  height: 89px;
  border: 1px solid lightgray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  text-transform: capitalize;
  cursor: pointer;
  color: #373941;
  font-weight: 900;
}

.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.75rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
